.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vw;
  margin-bottom: 5vw;
  margin-top: 5% !important;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),  0 6.7px 5.3px rgba(0, 0, 0, 0.048),  0 12.5px 10px rgba(0, 0, 0, 0.06),  0 22.3px 17.9px rgba(0, 0, 0, 0.072),  0 41.8px 33.4px rgba(0, 0, 0, 0.086),  0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: white;
  align-items: center;
}

.cart_item {
  display: inline-flex;
  height: 100px;
  width: 100%;
  background-color: white;
  /* border: 1px solid white; */
  border-radius: 10px;
  margin-bottom: 1vw;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2vw;
  justify-content: space-between;
  width: 70%
}

.price_part {
  right: 10%;
  /* position: absolute; */
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.totalPart {
  color: white;
}

.cart_content
{
  display: flex;
  flex-direction: column;
  margin-top: -1vw;
  margin-left: 7vw;
}
