.parent_div {
  display: flex;
  height: 500px;
  border: 1px solid #156299;
  border-radius: 10px;
  margin: 150px;
}
.first_half {
  float: left;
  width: 40%;
  padding: 50px;
  position: relative;
}
.media_block {
  margin: 20px;
  border: 1px solid #156299;
  border-radius: 10px;
  height: 70%;
  position: relative;
}
.second_half {
  float: left;
  width: 60%;
  padding: 50px;
  border-left: thick solid #ff0000;
  text-align: left;
  padding-left: 100px;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border: 1px solid #156299;

  border-radius: 10px;
}
table,
td {
  border: none;
  width: 50%;
  padding: 5px;
}
.preview-btns {
  display: inline-flex;
  justify-content: space-evenly;
  width: 70%;
}
.preview-btns > button {
  background-color: #156299;
  padding: 10px;
  margin: 20px;
  color: white;
  border-radius: 30px;
}
