.Upload {
  width: 70%;
  margin: 15% auto 20% auto;
  padding: 3vh 2vh;
  border-radius: 10px;
  border: 0;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content !important;
  /* background-color: none !important;
  box-shadow: none !important; */
}

.upload_card {
  height: 3vw;
  display: flex;
  /* border: 1px solid #11598D; */
  border-radius: 3vw;
  width: 65%;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 2vw;
  height: 20%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.upload_card h4 {
  text-align: left;
  padding-left: 1vw;
  
}

.upload_card_btn button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.fileUploadBtn {
  height: 0px;
  overflow: hidden;
}

.list_card {
  width: 90vw;
  display: block;
  margin: 3vw;
  border: none;
  /* border: 1px solid #11598D; */
  height: 30vw;
  border-radius: 170px;
  justify-content: center;
  padding: 10px 15px 15px 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
.list_card > h4 {
  color: #11598D;
  opacity: 0.9;
  padding: 2%
}
.content_card {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1vw;
}

.single_card {
  /* border: 1px solid #11598D; */
  height: 15vw;
  width: 12vw;
  border-radius: 5px;
  padding: 2vw 2vw 2vw 2vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.first_card {
  /* height: 250px;
  width: 160px; */
  display: inline;
}

.first_card > img {
  /* border: 1px solid #11598D;
   */
  width: 8vw;
}
.second_card {
  text-align: left;
  font-size: small;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  color: #11598D;
}

.settings_card {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.single_settings {
  display: flex;
  justify-content: space-between;
}

.home_head {
  color: #11598D;
  font-weight: bold;
}

@media only screen and (max-width:768px){

  .upload_card{
    height: 7vh !important;
  }

  .home_head{
    font-size: 0.75em !important;
  }
  .upload_card_btn img{
    height: 2vh !important;
    width: 2vh !important;
  }

  .list_card{
    height: 25vh !important;
  }

  .list_card h4{
    font-size: 0.75em !important;
  }

  .content_card{
    height: 9vh !important;
    
  }
  .single_card{
    height: 12vh !important;
  }
  .content_card img{
    height: 3vh !important;
    width: 3vh !important;
  }
  .second_card {
    text-align: center !important;
  }
  .second_card span:nth-child(3) {
	visibility: hidden
    
  }

  .second_card strong{
    font-size: 0.75em !important;
  }

	.second_card span{
    font-size: 0.75em !important;
  }
}