.UserProfile {
  /* display: flex; */
  height: 700px;
  margin: 150px;
}
.userDetails {
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10vh;
  margin: 10vh 35vw;
  /* position: relative; */
  /* border: 1px solid #156299; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),  0 6.7px 5.3px rgba(0, 0, 0, 0.048),  0 12.5px 10px rgba(0, 0, 0, 0.06),  0 22.3px 17.9px rgba(0, 0, 0, 0.072),  0 41.8px 33.4px rgba(0, 0, 0, 0.086),  0 100px 80px rgba(0, 0, 0, 0.12)
}


.userHistory {
  float: left;
  width: 60%;
  padding: 50px;
  margin: 50px;
  /* border: 1px solid #156299; */
  border-radius: 10px;
  text-align: left;
  padding-left: 100px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),  0 6.7px 5.3px rgba(0, 0, 0, 0.048),  0 12.5px 10px rgba(0, 0, 0, 0.06),  0 22.3px 17.9px rgba(0, 0, 0, 0.072),  0 41.8px 33.4px rgba(0, 0, 0, 0.086),  0 100px 80px rgba(0, 0, 0, 0.12)
}

.logout{
    display: block;
    width: 20vw;
    height: 3vw;
    background: white;
    padding: 0.1vw;
    text-align: center;
    border-radius: 2vw;
    color: #156299;
    font-weight: bold;
    line-height: 5vh;
    font-size: 1.25em;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),  0 6.7px 5.3px rgba(0, 0, 0, 0.048),  0 12.5px 10px rgba(0, 0, 0, 0.06),  0 22.3px 17.9px rgba(0, 0, 0, 0.072),  0 41.8px 33.4px rgba(0, 0, 0, 0.086),  0 100px 80px rgba(0, 0, 0, 0.12)
}

a:hover{
  text-decoration: none;
  color: #156299;
}