.UserProfile {
  display: flex;
  height: 700px;
  margin: 150px;
}
.userDetails {
  float: left;
  width: 40%;
  padding: 50px;
  margin: 50px;
  position: relative;
  border: 1px solid #156299;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    06.7px 5.3px rgba(0, 0, 0, 0.048), 012.5px 10px rgba(0, 0, 0, 0.06),
    022.3px 17.9px rgba(0, 0, 0, 0.072);
}
.userHistory {
  float: left;
  width: 60%;
  padding: 50px;
  margin: 50px;
  border: 1px solid #156299;
  border-radius: 10px;
  text-align: left;
  padding-left: 100px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    06.7px 5.3px rgba(0, 0, 0, 0.048), 012.5px 10px rgba(0, 0, 0, 0.06),
    022.3px 17.9px rgba(0, 0, 0, 0.072);
}
