/* ---------MEDIA QUERIES--------------------- */
@media only screen and (max-width:768px){
  .lowerFooter
  {
      text-align:center;
      font-size: 0.75em !important;
  }

  .line{
      visibility:hidden
  }

  .footerList{
      flex-direction: column !important;
  }

  .footerList img{
      height: 3vh !important;
      width: 3vh !important;
  }
}